[Unit]
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
WorkingDirectory=/home/hector/personal/proyectos/py-gtk3-launcher
Restart=always
ExecStart=pipenv run python src/pygtkl_cache.py
ExecReload=/bin/kill -9 $MAINPID

[Install]
WantedBy=graphical-session.target
